@charset "UTF-8";

@media screen and (max-width:500px) {
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* レスポンシブのときにちょっとやりにくいかも。レフト（イラスト）にだけ100vhを書ければいいのかも？ */
.mv,
.works,
.feature,
.about,
.skill,
.contact {
  /* position: relative; */
  /* height: 100vh; */
  padding: 0 150px;
}

.left,
.right {
  width: 50%;
  /* height: 70%; */
  height: 100vh;
  position: relative;
}
.fixed_img {
  width: 250px;
  object-fit: cover;
  position: fixed;
  top: 50%;
  left: 32%;
  transform: translate(-32%, -50%);
  z-index: 0;
}

.move_img {
  position: absolute;
  width: 400px;
  object-fit: cover;
  top: 50%;
  left: 92%;
  transform: translate(-92%, -50%);
  z-index: 1000;
}

.ttl {
  padding: 30px;
  font-size: 3em;
  text-align: center;
}

.sub_ttl {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5em;
}

.animation {
  opacity: 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(50px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/* start--------------------------------- */
.start {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}
.start p {
  position: fixed;
  top: 50%;
  left: 33.5%;
  transform: translate(-33.5%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}


/* header--------------------------------*/
.nav-list {
  position: fixed;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  z-index: 1000;
}

.nav-list-item {
  text-align: center;
  font-weight: bold;
  padding: 60px 30px;
}

.nav-list .nav-list-item:nth-child(2n):hover {
  background-color: #bdaaa5;
  color: #fff;
}
.nav-list .nav-list-item:nth-child(2n) {
  position: relative;
  transition: 0.3s;
}
.nav-list .nav-list-item:nth-child(odd) {
  border-right: 2px solid #000;
  transition: 0.3s;
}
.nav-list .nav-list-item:nth-child(odd):hover {
  background-color: #404040;
  color: #fff;
}

.nav-list .nav-list-item:nth-child(2n)::after {
  content: "●";
  position: absolute;
  font-size: 5em;
  top: 50%;
  right: -20%;
  transform: translate(20%, -50%);
  color: #bdaaa5;
}

.nav-list-item a {
  display: block;
  height: 100%;
  width: 100%;
}

/* mv------------------------------------*/

.mv .move_img {
  z-index: -1;
  width: 450px;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

/* works---------------------------------*/

.works_content {
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.works_content-inner {
  width: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease;
  padding: 30px 40px;
}

.works_content-inner:hover {
  opacity: 1;
  pointer-events: painted;
}

/* feature・skill---------------------------- */
.feature .move_img,
.skill .move_img {
  top: 0%;
  left: 92%;
  transform: translate(-92%, 0%);
}

/* feature---------------------------------- */
.right_content {
  width: 65%;
  margin: 0 auto;
}

.right_content .feature_text:first-child {
  text-align: center;
}

.feature{
  padding-top: 130px;
}

.feature_text {
  line-height: 2em;
  margin-bottom: 20px;
}

/* about------------------------------------ */
.about-list {
  line-height: 2;
}

.about .sub_ttl {
  text-align: start;
}
.about .left{
  margin-top: -200px;
}

.about .right{
  margin-top: 200px;
}
/* skill---------------------------------------*/
.skill{
  padding-top: 100px;
}

.skill .flex {
  flex-wrap: wrap;
  justify-content: center;
}

.skill_box {
  width: 25%;
  text-align: center;
  margin: 10px;
}

.skill_icon {
  width: 100px;
  object-fit: cover;
}

.skill_name {
  font-weight: bold;
}
/* contact-----------------------------------*/
.contact .move_img {
  top: 50%;
  left: 92%;
  transform: translate(-92%, -55%);
}

.form {
  margin: 0 auto;
}

.form-item {
  margin-bottom: 30px;
}

.form-item-label {
  margin-bottom: 20px;
  font-weight: bold;
}

.form-item-label-required {
  background-color: #bdaaa5;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 30px;
}

.form-item-input {
  border: none;
  border-bottom: solid 1px #000;
  padding: 10px;
  width: 90%;
}

.form-item-textarea {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

.contact_img {
  object-fit: cover;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.form-btn {
  width: 250px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* mv------------------------------------ */
h1 {
  font-size: 3em;
  white-space: nowrap;
  width: 100%;
}
h1 {
  box-sizing: border-box;
  padding: auto;
}

.mv_content::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 3px #000;
  animation: border_anim 6s linear forwards infinite;
  box-sizing: border-box;
}
.mv_content::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 100%;
  width: 0;
  transform: translateX(-100%);
  border-bottom: solid 3px #000;
  animation: border_anim 6s linear forwards infinite;
  box-sizing: border-box;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.mv_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 180px 50px; */
  /* lineでたかさをだしたよ */
  padding: 0 50px;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
  box-sizing: border-box;
}

.red {
  /* position: relative; */
  color: red;
}

.line {
  display: inline-block;
  padding: 190px 0;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 47%;
  left: -100%;
  height: 0;
  border-left: solid 2px #000;
  transform: translateY(-100%);
  animation: line_anime 10s linear forwards;
}


@keyframes line_anime {
  0% {
    height: 0%;
  }
  100% {
    height: 47%;
  }
}

.redbox {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, -100%);
  z-index: -1;
}

/* ======レスポンシブ======== */
@media screen and (max-width:767px) {
  .flex{
    display: block;
  }
  .mv,
  .works,
  .feature,
  .about,
  .skill,
  .contact {
    padding: 0;
  }

.left,
.right {
  width: 100%;
}

.right{
  background-color: #fff;
  height: inherit;
  margin: 100vh 0;
}
.fixed_img {
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.move_img {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

h1{
  font-size: 1.5em;
}
.ttl{
  font-size: 2.5em;
}

header{
  display: none;
}

.start p {
  width: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.mv .move_img {
  width: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mv_content {
  /* lineでたかさをだしたよ */
  padding: 0 30px ;
  background-color: #fff;
}

.line {
  padding: 100px 0;
}
.redbox {
  height: 60px;
  width: 60px;
}


/* works */

.works .left{
  padding-top: 100vh;
}

.works .right{
  margin-top: -10vh;
}

.works_content {
  width: 200px;
}

.works_content-inner {
  width: 200px;
  font-size: 0.7em;
  text-align: left;
  padding: 10px;
}

/* feature/skill */
.feature .move_img,
.skill .move_img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.skill_box {
  width: 25%;
  text-align: center;
  margin: 10px;
}

.skill_icon {
  width: 110px;
}

/* contact */
.contact .move_img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

}